<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<title>Gastronome</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"/>
		<link rel="stylesheet" href="/style/app.css"/>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="ui fixed inverted pointing menu">
			<div class="ui container">
				<div class="header item">
					<i class="food icon"></i>&nbsp <a href="/">Gastronome</a>
				</div>
				
				<a href="/posts/all" class="item">Posts</a>
				
				<% if(currentUser) { %>
					<a href="/posts/" class="item">My Posts</a>
					<a href="/posts/new" class="item">New Post</a>
				<% } %>
				
				<div class="right menu">
					<% if(currentUser) { %>
						<a href="/user/<%= currentUser._id %>/show" class="item"><i class="settings icon"></i>&nbsp Hello <%= currentUser.firstName %></a>
						<a href="/user/logout" class="item">Logout</a>
					<% } else { %>
						<a href="/user/login" class="item">Login</a>
					<% } %>
					<a href="" class="item disabled"></a>
				</div>
			</div>
		</div>
		<div class="ui main container">
    	<% if(error && error.length > 0){ %>
            <div id="message" class="ui floating red medium message">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div id="message" class="ui floating green medium message">
                <%= success %>
            </div>
        <% } %>
        <% if(info && info.length > 0){ %>
            <div id="message" class="ui floating blue medium message">
                <%= info %>
            </div>
        <% } %>
        <script>
			setTimeout(function() {
				$('#message').fadeOut('slow');
			}, 3000);
        </script>
		