<% include ../partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">Edit <%= post.title %></div>
        <form class="ui form" method="post" action="/posts/<%= post._id %>?_method=PUT">
            <div class="field">
                <label>Title</label>
                <input type="text" name="post[title]" placeholder="Title" value="<%= post.title %>">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="post[image]" placeholder="Image URL" value="<%= post.image %>">
            </div>
            <div class="field">
                <label>Post</label>
                <textarea name="post[body]" placeholder="Post"><%= post.body %></textarea>
            </div>
            <button type="submit" class="ui secondary button" name="Post">Save</button>
        </form>
    </div>
<% include ../partials/footer %>