<% include ../partials/header %>
    <div class="ui main text container">
        <% if(posts.length) { %>
            <% if (type) { %>
                <div class="ui huge header">All Posts</div>
            <% } else { %>
                <div class="ui huge header">My Posts</div>
            <% } %>
            <div class="ui top attached segment">
                <div class="ui divided items">
                    <% posts.forEach(function(post){ %>
                        <div class="item">
                            <div class="image">
                                <img src="<%= post.image %>">        
                            </div>
                            <div class="content">
                                <a class="header" href="/posts/<%= post._id %>"><%= post.title %></a>
                                <div class="meta">
                                    <span><%= post.created.toDateString() %></span>
                                </div>
                                <% if(post.body) { %>
                                    <div class="description">
                                        <p><%- post.body.substring(0, 75); %>...</p>        
                                    </div>
                                <% } %>
                                <div class="extra">
                                    <a class="ui floated basic grey button" href="/posts/<%= post._id %>">
                                        Read More
                                    </a>  
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% } else { %>
            <div class="ui hidden divider"></div>
            <div class="ui huge center aligned header">
                Get Started! Click on Create Post to create a new post.
            </div>
        <% } %>
    </div>

<% include ../partials/footer %>