<% include ../partials/header %>

    <div class="ui main text container segment">
        <div class="ui huge header"><%= post.title %></div>
        <div class="ui top attached">
            <div class="item">
                <% if(post.image) { %>
                    <img src="<%= post.image %>" class="ui centered rounded large bordered image">
                <% } %>
                <br/>
                <div class="content">
                    <h3 class="ui header">
                        <i class="user icon"></i>
                        <div class="content">
                            <%= post.author.username %>
                            <div class="sub header"><%= post.created.toDateString() %></div>
                        </div>
                    </h3>
                </div>
                
                <div class="description">
                    <p><%- post.body %></p>
                </div>
                <br/>
                <% if(currentUser && post.author.id.equals(currentUser._id)) { %>
                    <a class="ui blue basic button" href="/posts/<%= post._id %>/edit">Edit</a>
                    <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="post">
                        <button class="ui red basic button">Delete</button>
                    </form>
                <% } %>
                
                <div class="ui hidden divider"></div>
                <div class="ui divider"></div>
                
                <div class="ui medium header">Comments</div>
                <div class="ui large comments">
                    <% post.comments.forEach(function(comment){ %>
                        <div class="comment">
                            <div class="content">
                                <i class="comment small icon"></i>
                                <a class="ui header author"><%= comment.author.username %></a>
                                <div class="metadata">
                                    <span class="date"><%= comment.created.toDateString() %></span>
                                </div>
                                <div class="text">
                                    <%= comment.text %>
                                </div>
                            </div>
                        </div>
                        <div class="ui section divider"></div>
                    <% }) %>
                    
                    <form class="ui reply form" action="/posts/<%= post._id %>/comments" method="POST">
                      <div class="field">
                        <textarea name="comment[text]" placeholder="Your thoughts..."></textarea>
                      </div>
                      <button class="ui grey basic button">Add Comment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
<% include ../partials/footer %>