<% include partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header">Edit <%= b.title %></div>
        <form class="ui form" method="post" action="/blogs/<%= b._id %>?_method=PUT">
            <div class="field">
                <label>Title</label>
                <input type="text" name="blog[title]" placeholder="Title" value="<%= b.title %>">
            </div>
            <div class="field">
                <label>Image</label>
                <input type="text" name="blog[image]" placeholder="Image URL" value="<%= b.image %>">
            </div>
            <div class="field">
                <label>Post</label>
                <textarea name="blog[body]" placeholder="Post"><%= b.body %></textarea>
            </div>
            <input type="submit" class="ui secondary button" name="Post">
        </form>
    </div>
<% include partials/footer %>